/* img {
  max-width: 100px;
  margin: 1em;
} */

* {
    box-sizing: border-box;
}

img.pet-profile {
  max-width: 200px;
}

.container {
  background-image: url('../home/images/greenhills.jpg');
  background-attachment: fixed;
  margin: 0;
  padding: 4em;
  min-height: 100vh;
}

.adopt-container {
  background-image: url('../home/images/summer.jpg');
  background-attachment: fixed;
}

.form-container {
  background-image: url('../home/images/nightforest.jpg');
  background-attachment: fixed;
}

.pet-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
}

.pet-stats {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 0 auto;
}

.pet-stats div {
  text-align: center;
  padding-bottom: 1em;
}

.pet-stats p {
  margin-bottom: 0.5em;
}

#stats {
  font-size: 14px;
  margin-top: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

 img.adopt-pet {
   max-width: 100px;
 }

h4#name-pet {
  margin: 2em auto 0 auto;
}

.item-profile {
  max-width: 75px;
}

.all-item-container {
  display: flex;
  justify-content: space-between;
}

.all-item-container h2 {
  display: block;
}
