 /* ROCK PAPER SCISSORS */

.player-card {
	width: 12.5rem;
	height: 12.5rem;
	margin: 1.25rem;
	border-radius: 50%;
	text-align: center;
	line-height: 12.5rem;
	position: relative;
	display: inline-block;
	border: 2px solid #fff;
	opacity: 1;
	background-repeat:no-repeat;
	background-position: center center;
}

.player-card:nth-child(2) {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.card-container {
  display: flex;
  justify-content: space-around;
}

.game-cheese {
  display: block;
  margin: 1em auto;
}
