@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.container-full {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 140%;
}

.container-div {
  max-width: 960px;
  margin: auto;
}

.home-scene1 {
  background-image: url('./images/greenhills.jpg');
  background-attachment: fixed;
    background-repeat: no-repeat;
  height: 650px;
}

.home-scene2 {
  background-image: url('./images/nightforest.jpg');
  background-attachment: fixed;
    background-repeat: no-repeat;
  height: 650px;
}

.home-scene3 {
  background-image: url('./images/summer.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 650px;
}

#home-logo {
  max-width: 75%;
  margin-top: 60px;
  transform: rotate(-8deg);
}

.home-pets {
  max-height: 300px;
  position: relative;
}

.home-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home-paragraphs {
  max-width: 30em;
  background-color: rgba(255,255,255,0.7);
  line-height: 1.5em;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  padding: 1em;
}

.call-to-action {
  font-weight: 700;
  margin: .5em auto;
}

.home-cto {
   width: 100%;
   background-color: rgba(250,213,106,0.9);
   color: black;
   font-size: 24px;
   text-align: center;
   letter-spacing: 0.1em;
  font-weight: 300;
   padding: 1em;
}

.home-cto h1 {
  font-size: 24px;
  letter-spacing: 0.1em;
  font-family: 'Roboto', sans-serif;
}

.home-cto p  {
  font-family: 'Roboto', sans-serif;
  margin-top: 0.2em;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-transform: none;
  font-weight: 400;
}

p {
  margin: 0;
}

.home-pet-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

#home-pug {
  animation: moveInRight 2s ease-out;
  transform: translateX(300px);
}

#home-axolotl {
  animation: moveInLeft 2s ease-out;
  transform: translateY(150px);
}

#home-panda {
  align-self: flex-end;
  margin-bottom: -15px;
}

#home-rat {
  align-self: flex-end;
  margin-bottom: -15px;
}

#home-kitty {
margin-left: 20px;
}

.home-cheese {
max-width: 75px;
}

a {
  color: black;
}

p {
  margin: 1em auto;
}


@keyframes moveInLeft {
  0% {
    transform: translateX(-1000px);
    /* transform: translateY(1000px); */
  }

  100% {
    transform: translateY(150px);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(450px);
  }

  100% {
    transform: translateX(300px);
  }
}

.signInHome{
  margin-left: -39px;
  border: none;
  background-color: rgb(0, 188, 212);
  padding: .5em 1em;
  border-radius: 3px;
  color: white;
  font-size: 24px;
}

.signInHome:hover{
  margin-left: -39px;
  border: none;
  background-color: lightgrey;
  padding: .5em 1em;
  border-radius: 3px;
  color: white;
}

.error-screensize {
  display: none;
}
