.container-full {
  min-height: 300vh;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 140%;
}

.container-div {
    max-width: 960px;
    margin: auto;
    padding: 2em;
}

.home-scene1 {
  background-image: url('./images/greenhills.jpg');
  background-attachment: fixed;
  height: 100vh;
}

.home-scene2 {
  background-image: url('./images/nightforest.jpg');
  background-attachment: fixed;
  height: 100vh;
}

.home-scene3 {
  background-image: url('./images/summer.jpg');
  background-attachment: fixed;
  height: 100vh;
}

#home-logo {
  max-width: 75%;
  
}
